
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.nav {
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navigation {
  position: fixed;
  z-index: 30;
  top:  0;
}
.h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
a,.fa-ellipsis-h {
  color: #B9B9B9;
}
.icon {
  font-size: 30px;
}
.fa-home, .fa-user-friends, .fa-user {
  color: rgb(112, 111, 111);
}
a:active {
 border-bottom: #1a81ff 5px solid;

}
.form-inline input {
    border-radius: 2rem;
}
.logo-p {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid rgb(112, 131, 192);
  padding: 1px;
}
::selection{
  color: #fff;
}

.body-card img{
  cursor: pointer;
}
.body-card .post{
  transition: margin-left 0.18s ease;
}
.post form{
  padding: 10px 30px 30px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
}
.post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.post form .content img{
  cursor: default;
}

form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
form textarea{
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}

form .options p{
  color: #595959;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
}
form .options .list{
  list-style: none;
}
.options .list{
  height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
}
.options:hover{
  background: #f0f1f4;
}

form button{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
}
form textarea:valid ~ button{
  color: #fff;
  cursor: pointer;
  background: #4599FF;
}
form textarea:valid ~ button:hover{
  background: #1a81ff;
}
.container .audience{
  opacity: 0;
  transition: opacity 0.12s ease;
}
.body-card .active .audience{
  opacity: 1;
}
/* -------------------------card-body------------------------- */
.container {
  margin-top: 1rem;
  width: 100%;
}
.post {
  margin-right: -2rem;
}
.container .post {
  margin-bottom: 8px;
  width: 55%;
}
.post-top {
  margin-top: 6rem;
}
.picture_post {
  width: 100%;
}
.icons_reach {
  display: flex;
  justify-content: space-around;
  border: 1px solid #B9B9B9;
  width: 100%;
  font-size: 50px;
}
.file_upload{
  width: 80%;
  height: 20vh;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background: #f0efef;
}
input[type="file"]{
  padding: 10px;
  display: none;
  background-color: #ffff;
}
label{
  font-weight: bold;
}
.edit img {
  height: 20px;
}
.text_area {
  display: flex;
  text-align: center;
}
/* ---------------------------------account--------------------------------------- */
.bg_img {
  height: 60vh;
  width: 100%;
  position: sticky;
  border-radius: 10px;
}
.account .fill_text {
  position: absolute;
  margin-top: -6rem;
}

.account p {
  margin-left: 11rem;
  font-size: 1.5rem;
}
/* Update the post------------------------------ */
.form-d{
  display: none;
}

.for-delete h5:hover {
  background: #f5f3f3;
}

#form-d{
  /* padding: 20px; */
  background: #ececec;
  z-index: 888;
  position: absolute;
  left:800px;
  border-radius: 15px;
  opacity: 0.6;
}
#form-d a{
  color: #000;
  width: 100%;
  height: 5px;
  font-size: 1.4rem;
  text-decoration: none;
}
#form-d a .fa,.far,.fas{
  margin:10px;
  position: sticky;
}

/* Edit the post---------------- --------*/
.edit img{
  width:550px;
  height: 400px;
  opacity: 0.6;
}
.editer {
  background: none;
  border: none;
  height: auto;
  top: 0;
}
.h5 {
  margin-right: -5rem;
  margin-top: -4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
i:hover {
  color: #4599FF;
}
.edit-up{
  width: 15%;
  background: rgb(225, 225, 226);
  height: 15vh;
  position: absolute;
  opacity: 0.6;
  cursor: pointer;
  border-radius: 8px;
}
.edit-up h4{
  font-weight: bold;
}
.text-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*  ..Comment-----------------------------------------*/ 
.icons_reach {
  display: flex;
  justify-content: space-around;
  border: 1px solid #B9B9B9;
  width: 100%;
  font-size: 50px;
}
.icons_reach h5{
  border-radius: 8px;
}
.icons_reach h5:hover{
  background: #e5e7e7;
  border-radius: 8px;
  
}
.view_comments:hover{
  background: #faf9f9;
  border-radius: 10px;
}
span {
  cursor: pointer;
}
/* --Add comment---------------------- */
#write-comment{
  display: none;
}   

#write-comment img, #update_comment img{
  width: 60px;
  height: 60px;
}
#write-comment .controller, #update_comment .controller{
  border-radius: 16px;
  outline: none;
  border: none;
  background: #cacaca;
}

/* --Comment view---------------------- */
.comment_views{
  display: none;
  cursor: pointer;
}  
.text-primary {
  cursor: pointer;
}

.icon-delete-comment{
  display: flex;
  justify-content: start;
}
.icon-delete-comment img{
  width:50px;
  height:50px;
  border-radius: 50%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}
.icon-delete-comment .comment-face:hover{
  background: #dfdede;
}
.comment-face{
  border-radius: 14px;
  background: rgb(241, 241, 240);
}    

/* Delete comment ------ */
.getDelete{
  background-color: #ccc9c9;
}
.dl-comment{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(255, 254, 254);
}
.dl-comment:hover{
  background: rgb(241, 240, 240);
}

/* ------------------------profile-------------------------- */
.text_name textarea {
  display: flex;
  text-align: center;
}
.fa-camera {
  font-size: 2.5rem;
  margin-left: 6rem;
  position: absolute;
  margin-top: -4rem;
}
.card-body {
  background: #4599FF;
  border-radius: 5px;
}
.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
a .fa-remove:hover {
  text-decoration: none;
  color: red;
}
/* new css--------------------- */
.content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 200px;
  background: #E4E6EB;
  justify-content: space-between;
}

.details .privacy span{
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 13px;
  margin-left: 1px;
}


/* ------------------form login------------------------------ */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #858585;
}
.bg-form {
  background: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 10px 30px 15px;
}
.logo_facebook {
  width: 80px;
}
.form-control{
  padding: 0.7rem;
}
input[type='radio'] {
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
input[type='date'] {
  border: none;
}
h1 {
  font-size: 3rem;
}
.fa-exclamation-triangle {
  font-size: 35px;
}
.boder {
  border-radius:  5px;
  width: 100%;
  height: 49px;
}
.log_fb img {
  width: 80px;
}
.fa-search {
  position: absolute;
  z-index: 2;
  margin-left: 12rem;
  color: #BCC0C4;
}
input[type='search'] {
  position: relative;
}

/* --------------------add Friends-------------------------- */
.btn_add {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  margin-left: 15rem;
}

.logo_friends {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.logo_account {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.top_card {
  margin-top: 7rem;
}